html, body
{
  background-color: #000;
  color: #fff;
  height: 100%;
  padding: 100px 0 100px 0;
  width: 100%;
}

.vid1 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 30px;
  transform: skewX(-25deg);
  -webkit-transform:    skewX(-25deg);
  transition: all 0.3 ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.vid2 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  left: 100px;
  position: relative;
  width: 30px;
  transform: skewX(-25deg);
  -webkit-transform:    skewX(-25deg);
  transition: all 0.3 ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.vid3 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  left: 200px;
  position: relative;
  width: 30px;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg); 
  transition: all 0.3 ease-out; 
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

/*.vid1:hover {
  background-image: url(images/correel.gif);
}

.vid2:hover {
  background-image: url(images/comreel.gif);
}

.vid3:hover {
  background-image: url(images/narreel.gif);
}*/

.vid1:hover,
.vid2:hover,
.vid3:hover {
  width: 126px;
  transition: all 0.2 ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.vid1:active,
.vid2:active,
.vid3:active {
  background-color: #000;
  height: 90%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 90%;
  transition: all 0.3 ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
  transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
}

.reeltext {
    bottom: -35px;
    display: block;
    font-size: 12px;
    font-style: normal;
    left: 50%;
    margin-left: -85px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    width: 86px;
    transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transition: opacity 0.3 ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3 ease-out;
    -o-transition: opacity 0.3 ease-out;
}

.reelgif {
  display: block;
  left: -66px;
  bottom: -4px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  width: 86px;
  transform: skewX(22deg);
  -webkit-transform: skewX(22deg);
  transition: opacity 0 ease-out;
  -webkit-transition: opacity 0s ease-out;
  -moz-transition: opacity 0s ease-out;
  -o-transition: opacity 0s ease-out;
}

.vid1:hover .reeltext,
.vid2:hover .reeltext,
.vid3:hover .reeltext {
  opacity: 1;
}

.vid1:active .reeltext,
.vid2:active .reeltext,
.vid3:active .reeltext {
  opacity: 0;
}

.vid1:hover .reelgif,
.vid2:hover .reelgif,
.vid3:hover .reelgif {
  opacity: 0.6;
  transition: all 0.6 ease-in;
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}

.vid1:active .reelgif,
.vid2:active .reelgif,
.vid3:active .reelgif {
  opacity: 0;
}

.footer-text {
    left: 0;
    line-height: 200px;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
