html, body
{
    background-color: #000;
    color: #fff;
    height: 100%;
    padding: 100px 0 100px 0;
    width: 100%;
}

#wrap {
	margin: 0 auto;
  text-align: justify;
  width: 900px;
}

.vid1 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  margin-left: 385px;
  position: relative;
  transform: skewX(-25deg);
  width: 30px;
  -webkit-transform:    skewX(-25deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.vid1:hover {
  width: 150px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

#wrap:hover p {
  opacity: 1;
}

#wrap p {
  display: block;
  opacity: 0;
  margin: 0 auto;
}

.vid2 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  margin-left: 100px;
  position: relative;
  transform: skewX(-25deg);
  width: 30px;
  -webkit-transform:    skewX(-25deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.vid2:hover {
  width: 150px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.vid3 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  margin-left: 100px;
  position: relative;
  transform: skewX(-25deg);
  width: 30px;
  -webkit-transform:    skewX(-25deg);  
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.vid3:hover {
  width: 150px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.footer-text {
    left: 0;
    line-height: 200px;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
