html, body
{
    background-color: #000;
    color: #fff;
    height: 100%;
    padding: 100px 0 100px 0;
    width: 100%;
}

/*#wrap {
    padding-right:200px;
    text-align:center; 
}*/

.vid1 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 30px;
  transform: skewX(-25deg);
  -webkit-transform:    skewX(-25deg);
  transition: all 0.3 ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.corptext {
    bottom: -25px;
    display: block;
    font-size: 10px;
    left: 50%;
    margin-left: -43px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 86px;
    transition: opacity 0.3 ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3 ease-out;
    -o-transition: opacity 0.3 ease-out;
}

.vid1:hover,
.vid2:hover,
.vid3:hover {
  width: 150px;
  transition: all 0.3 ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.vid1:hover .corptext,
.vid2:hover .corptext,
.vid3:hover .corptext {
  opacity: 1;
}

.vid2 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  left: 100px;
  position: relative;
  transform: skewX(-25deg);
  width: 30px;
  -webkit-transform:    skewX(-25deg);
  transition: all 0.3 ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.vid3 {
  background: #fff600;
  display: inline-block;
  height: 300px;
  left: 200px;
  position: relative;
  transform: skewX(-25deg);
  width: 30px;
  -webkit-transform:    skewX(-25deg); 
  transition: all 0.3 ease-out; 
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
}

.footer-text {
    left: 0;
    line-height: 200px;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
